.card-hint {
  position: absolute;
  top: 44.5rem;
  left: -6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
  font-family: 'BlobSpongey';
  font-size: 3rem;
  background-color: var(--dark-red-color);
  border-radius: 4rem;
}

.value {
  font-family: 'Casagrande';
  font-size: 4rem;
}

.color {
  height: 4rem;
  margin-bottom: 0.5rem;
}
