.players-wrapper {
  position: absolute;
  height: 95vh;
  width: 7rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.players,
.spectators {
  height: 50%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.players {
  background-color: var(--beige-color);
}

.spectators {
  background-color: rgb(254, 239, 222, 0.4);
}

.eye {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
}

.eye-image {
  width: 5rem;
  height: 2.5rem;
}
