.input {
  max-width: 15rem;
  height: 4rem;
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  text-indent: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--brown-color);
}

.input:focus {
  outline: 2px solid var(--dark-red-color);
}
