.container {
  display: flex;
  flex-direction: column;
  padding: 3rem 10rem;
  gap: 1rem;
}

.title,
.return {
  font-family: 'BlobSpongey';
  color: var(--green-color);
  align-self: center;
  font-size: 5rem;
}

.subtitle {
  font-family: 'BlobSpongey';
}

.return {
  cursor: pointer;
}
