.menu {
  position: absolute;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
  backdrop-filter: blur(10px);
  overflow-y: scroll;
}

.option {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
