.start-page-wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

.table-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: no-repeat bottom/100vh url('../../assets/images/game-table.png');
}

.start-table {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.room-id-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.7rem;
  border-radius: 0.5rem;
  background-color: rgb(254, 239, 222, 0.3);
}

.host-message,
.guest-message {
  display: flex;
  align-items: flex-end;
  gap: 2.5rem;
  font-family: 'BlobSpongey';
  font-size: 3.6rem;
  user-select: none;
}

.guest-message {
  margin-top: 15rem;
}

.host-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
}

.start-button {
  height: 8rem;
}

.start-message {
  font-size: 3.6rem;
  padding: 1rem;
  user-select: none;
}

.players-message {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  user-select: none;
}

.players {
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  background-color: rgb(58, 104, 74);
  color: var(--green-color);
}

.pattern-wrapper {
  position: absolute;
  bottom: -5rem;
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(254, 239, 222, 0.3);
  border-radius: 0.5rem;
  font-family: 'BlobSpongey';
}

.background-wrapper,
.cardback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  user-select: none;
}

.backgrounds,
.cardbacks {
  display: flex;
  gap: 1rem;
}

button.pattern-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pattern-button:hover {
  transform: scale(1.05);
}

.pattern-image {
  width: 6rem;
  height: 8.5rem;

  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.active {
  box-shadow: 0 0 0 5px var(--green-color);
}
