.message-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  padding: 1rem;
  background-color: #b73839;
  color: #fce183;
  border-radius: 0.5rem;
}

.my-box {
  background-color: #67bf8d;
  color: white;
}

.author {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  justify-content: flex-start;
}

.time-stamp {
  color: rgb(204, 202, 202);
  font-size: 1.2rem;
}

.client-message {
  justify-content: flex-end;
}

.message {
  width: 100%;
  text-align: left;
}
