.container {
  z-index: 3;
  position: fixed;
  max-width: 50%;
  bottom: 2rem;
  left: 0;
  padding: 3rem;
  background-color: var(--green-color);
  border-radius: 1rem;
}

.wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.button {
  position: absolute;
  background: transparent;
  border: none;
  color: #fff;
  right: 5%;
  top: 5%;
  cursor: pointer;
  padding: 1rem;
}

.text {
  font-family: 'BlobSpongey', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
}
