.start-page-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.table-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: no-repeat bottom/100vh url('../../assets/images/game-table.png');
}

.start-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  gap: 1rem;
}

.table-front {
  width: 73rem;
  position: absolute;
  top: 42rem;
  z-index: 2;
}

.player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 3px solid var(--green-color);
  background-color: var(--beige-color);
  z-index: 2;
}

.avatar {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.name {
  width: 40rem;
  height: 5rem;
  position: absolute;
  top: 8rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 0.2s ease-in-out;
}

.player:nth-of-type(1) > .name {
  justify-content: flex-end;
  left: -39rem;
}

.player:nth-of-type(2) > .name {
  justify-content: flex-end;
  left: -42rem;
}

.player:nth-of-type(3) > .name {
  justify-content: flex-start;
  left: 13rem;
}

.player:nth-of-type(4) > .name {
  justify-content: flex-start;
  left: 11rem;
}

.player:nth-of-type(1) {
  position: absolute;
  top: 20rem;
  left: -42rem;
}

.player:nth-of-type(2) {
  position: absolute;
  top: -5rem;
  left: -33rem;
}

.player:nth-of-type(3) {
  position: absolute;
  top: -5rem;
  left: 21rem;
}

.player:nth-of-type(4) {
  position: absolute;
  top: 20rem;
  left: 30rem;
}
