:root {
  --white-color: #ffffff;
  --beige-color: #feefde;
  --red-color: #c65552;
  --dark-red-color: #b63d44;
  --green-color: #67bf8d;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--beige-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
